{#themedoc
[/themedoc-section-name/]: # (Menu main)

[/themedoc-section/]:
Main navigation, compatible with StaticPages.

### Dependencies
* [svg-icon](#svg-icon)

### Variables:
* {string} **cssClasses** - list of additional css classes.
* {int} **maxLevel** - maximum menu level (default: 10).
* {array} **items** - array of menu items, the same as in StaticPages.

### Usage example:
{% verbatim %}
    {% partial "menu-main/menu-main"
        cssClasses = ""
        maxLevel = 1
        items =
        [
            {
                title: "Home",
                url: "/",
                isActive: 0,
                viewBag: {
                    isExternal: 0,
                    isHidden: 0
                },
                items: []
            },
            {
                title: "Inner page",
                url: "/#inner-page",
                isActive: 0,
                viewBag: {
                    isExternal: 0,
                    isHidden: 0
                },
                items: [
                    {
                        title: "Nested page",
                        url: "/#nested-page",
                        isActive: 0,
                        viewBag: {
                            isExternal: 0,
                            isHidden: 0
                        },
                        items: []
                    }
                ]
            }
        ]
    %}
{% endverbatim %}
#}

{% set level = 1 %}
{% set maxLevel = maxLevel|default(10) %}
{% macro menu(items, level, maxLevel) %}
    {% import _self as menu %}
    {% set classUlLevel1 = 'flex items-center relative' %}
    {% set classLiLevel1 = 'relative group' %}
    {% set classALevel1 = 'block font-secondary after:w-full after:bg-primary after:absolute after:left-0 after:bottom-0 after:hidden after:h-1 hover:after:block hover:text-primary text-sm text-gray transition-all uppercase py-2 px-3 xl:text-xl xl:px-6' %}
    {% set classUlLevel2 = 'flex flex-col absolute hidden bg-gray-100 w-40 group-hover:flex py-2' %}
    {% set classLiLevel2 = '' %}
    {% set classALevel2 = 'text-gray block font-secondary px-3 py-1 transition hover:text-primary text-sm xl:text-base' %}
    {% set classActive = '!text-primary after:!block' %}
    {% if items and maxLevel >= level %}
        <ul class="{{ _context['classUlLevel'~level] }}" role="menubar">
            {% for item in items %}
                {% if not item.viewBag.isHidden %}
                    <li class="{{ _context['classLiLevel'~level] }}" role="menuitem">
                        <a class="{{ _context['classALevel'~level] }} {{ (item.isActive and level < 2) ? classActive }}" href="{{ item.url ? item.url : 'javascript:;' }}" {{ item.viewBag.isExternal ? "target=\"_blank\"" }}>
                            {{ item.title }}
                            {% if item.items %}
                                {% partial "svg-icon/svg-icon" name="chevron-down" cssClasses="js-header-menu-arrow w-2 h-2 fill-default absolute bottom-1 inset-x-0 m-auto" %}
                            {% endif %}
                        </a>
                        {{ menu.menu(item.items, level + 1, maxLevel) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% import _self as menu %}

<nav class="{{ cssClasses }}">
    {{ menu.menu(items, level, maxLevel) }}
</nav>
